name: Bumping

on:
  schedule:
    # Every day at 6am
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  bump:
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Bump formulae
        uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{secrets.HOMEBREW_GITHUB_API_TOKEN}}
          tap: ${{github.repository}}
          livecheck: true
