name: Checking

on:
  push:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Homebrew
        id: setup
        uses: Homebrew/actions/setup-homebrew@master
      - name: Cache gems
        uses: actions/cache@v1
        with:
          path: ${{steps.setup.outputs.gems-path}}
          key: ${{runner.os}}-rubygems-${{steps.setup.outputs.gems-hash}}
          restore-keys: ${{runner.os}}-rubygems-
      - name: Install gems
        run: brew install-bundler-gems
      - name: Check formulae
        run: brew test-bot --only-tap-syntax
