name: Uploading

on:
  pull_request_target:
    types:
      - labeled

jobs:
  upload:
    if: contains(github.event.pull_request.labels.*.name, 'ok')
    runs-on: ubuntu-latest
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Set up git
        uses: Homebrew/actions/git-user-config@master
      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{secrets.HOMEBREW_GITHUB_API_TOKEN}}
          PULL_REQUEST: ${{github.event.pull_request.number}}
          WORKFLOW: building.yml
        run: brew pr-pull --debug --tap=$GITHUB_REPOSITORY --workflows=$WORKFLOW $PULL_REQUEST
      - name: Push commits
        uses: Homebrew/actions/git-try-push@master
        with:
          token: ${{secrets.HOMEBREW_GITHUB_API_TOKEN}}
      - name: Delete branch
        if: github.event.pull_request.head.repo.fork == false
        env:
          BRANCH: ${{github.event.pull_request.head.ref}}
        run: git push --delete origin $BRANCH
